@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
  font-size: 14px;
}

body {
  font-family: Arial, sans-serif;
}

h1 {
  @apply text-2xl font-bold;
}

h2 {
  @apply text-xl font-semibold;
}

h3 {
  @apply text-lg font-semibold;
}

.text-xs {
  font-size: 0.75rem;
}

.text-sm {
  font-size: 0.875rem;
}

.text-base {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.125rem;
}

.text-xl {
  font-size: 1.25rem;
}

.text-2xl {
  font-size: 1.5rem;
}